<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LetsCode Verify_Email</title>
</head>
<body>
    <div id="navbarDiv"></div>
        <div id="webName">
            <div id="logo"></div>
            <a href="#" class="active navLink">LetsCode</a>
        </div>
        <div id="mode"><i class="fa-solid fa-sun modeIcon"></i></div>
    </div>

    <h1>Random number to verify</h1>
    <h2><%=usernames%> and otp is <%=otpGen%></h2>
    <a href="/LetsCode/resendOtp">
        <button>Resend OTP</button>
    </a>
</body>
</html>