<div id="footer">
    <div class="footBox">
        <a href="#" class="socialLink"><div class="circleBox"><i class="fa-brands fa-linkedin-in iconSize"></i></div></a>
        <a href="#" class="socialLink"><div class="circleBox"><i class="fa-brands fa-github iconSize"></i></div></a>
        <a href="#" class="socialLink"><div class="circleBox"><i class="fa-brands fa-twitter iconSize"></i></div></a>
        <a href="#" class="socialLink"><div class="circleBox"><i class="fa-solid fa-code iconSize"></i></div></a>
    </div>
    <div class="designedTag">
        <p>Designed And Created By Vishal Paswan.<br><i class="fa-regular fa-copyright"></i> LetsCode INDIA, All Rights Reserved.</p>
    </div>
</div>