<div id="footer">
    <div class="footBox">
        <a href="https://www.linkedin.com/in/vishal-paswan-59772925b" class="socialLink">
            <div class="circleBox"><i class="fa-brands fa-linkedin-in iconSize"></i></div>
        </a>
        <a href="https://github.com/VishalPaswan2402" class="socialLink">
            <div class="circleBox"><i class="fa-brands fa-github iconSize"></i></div>
        </a>
        <a href="https://x.com/VishalPaswan24" class="socialLink">
            <div class="circleBox"><i class="fa-brands fa-twitter iconSize"></i></div>
        </a>
        <a href="https://www.instagram.com/imvishal2402?igsh=cjEwZWFvZHRvdXM3" class="socialLink">
            <div class="circleBox"><i class="fa-brands fa-instagram iconSize"></i></div>
        </a>
    </div>
    <div class="designedTag">
        <p>Designed And Created By Vishal Paswan.<br><i class="fa-regular fa-copyright"></i> LetsCode INDIA, All Rights
            Reserved.</p>
    </div>
</div>