<%-include('./head.ejs') %>
  <title>LetsCode Forget Password</title>
  <link rel="stylesheet" href="/homePage.css">
  <link rel="stylesheet" href="/popFoot.css">
  <link rel="stylesheet" href="/responsiv.css">

  <body>
    <%-include('./navAndMsg.ejs') %>

      <div class="card otpCard">
        <div class="card-body">
          <h3 class="card-title">Recover Password</h3>
          <div>
            <form method="post" action="/LetsCode/Forget/Password/Verify" class="needs-validation" novalidate>
              <div class="forgetContainer">
                <input type="text" name="username" class="form-control forgetData" placeholder="Username" required>
                <input type="email" name="email" class="form-control forgetData" placeholder="E-mail" required>
              </div>
              <button type="submit" class="btn btn-primary otpVerify">Send OTP</button>
            </form>
          </div>
        </div>
      </div>

      <%-include('./footer.ejs')%>

        <script src="/inputValidate.js"></script>
  </body>

  </html>