*{
    padding: 0;
    margin: 0;
    border: 0;
    font-family: "Roboto Condensed", sans-serif;
}
body{
    background-color: rgb(36, 36, 36);
    color: wheat;
}
#navbarDiv{
    height: 3.5rem;
    width: 100%;
    box-shadow: 0.5px 0.5px 5px gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#webName{
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#logo{
    height: 70%;
    width: 2.7rem;
    background-image: url(logo2.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 1.5rem;
}
.navLink{
    font-size: 1.2rem;
    color: wheat;
    text-decoration: none;
    padding-right: 2rem;
}
#mode{
    height: 2.3rem;
    width: 2.3rem;
    margin-right: 1.5rem;
    border-radius: 20px;
    color: wheat;
    border: 2px solid gray;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    cursor: pointer;
}
.modeIcon{
    font-size: 1.1rem;
}
.coderTry{
    text-align: center;
}
#blockPg{
    height: 100%;
    width: 100%;
    background-color: rgba(68, 66, 66, 0.776);
    position: fixed;
    margin: 0;
    z-index: 900;
    display: none;
}
#dataContainer{
    width: 50rem;
    margin: 0.2rem auto;
}
.queTag{
    border-radius: 10px;
    padding: 10px;
    font-size: 1.2rem;
    margin: 15px auto;
    color: wheat;
}
.easyQue{
    background-color: rgba(144, 239, 131, 0.37);
}
.mediumQue{
    background-color: rgba(126, 236, 192, 0.418);
}
.hardQue{
    background-color: rgba(249, 152, 153, 0.404);
}
.queTag:hover{
    background-color: rgba(78, 77, 77, 0.61);
    color: rgb(163, 163, 245);
}
.queLink{
    text-decoration: none;
    width: 93%;
}
.quesDone{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.markDone{
    height: 50px;
    width: 45px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    cursor: pointer;
}
.markDone:hover{
    background-color: rgba(78, 77, 77, 0.61);
}
.doneThis{
    padding-top: 7px;
}
.markAsDone{
    background-color: rgb(74, 71, 71);
    border: 2px solid wheat;
    height: 6rem;
    width: 17rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    border-radius: 10px;
    position:absolute;
    margin:15rem;
    z-index: 999;
    display: none;
}
.doneBtn{
    padding: 9px;
    margin: 3px;
    border-radius: 10px;
}
.subBtns{
    background-color: rgb(74, 74, 180);
    color: wheat;
}
.subBtns:hover{
    background-color: blue;
}
.cancleBtn{
    background-color: rgb(218, 73, 73);
    color: wheat;
}
.cancleBtn:hover{
    background-color: rgb(231, 9, 9);
}