*{
    padding: 0;
    margin: 0;
    border: 0;
    font-family: "Roboto Condensed", sans-serif;
}
body{
    background-color: rgb(36, 36, 36);
    color: wheat;
    background-image: url('./background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#overlay{
    height: 100%;
    width: 100%;
    background-color: rgba(68, 66, 66, 0.776);
    position: fixed;
    margin: 0;
    z-index: 500;
    display: none;
}
#navbarDiv{
    height: 3.5rem;
    width: 100%;
    box-shadow: 0.5px 0.5px 5px gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#webName{
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#logo{
    height: 70%;
    width: 2.7rem;
    background-image: url(logo2.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 1.5rem;
}
.navLink{
    font-size: 1.2rem;
    color: wheat;
    text-decoration: none;
    padding-right: 2rem;
}
#mode{
    height: 2rem;
    width: 2rem;
    margin-right: 1.5rem;
    border-radius: 20px;
    color: wheat;
    border: 2px solid gray;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    cursor: pointer;
}
#mode:hover{
    background-color: rgba(39, 152, 172, 0.733);
}
.modeIcon{
    font-size: 1rem;
}
#dataContainer{
    width: 50rem;
    margin: 1.5rem auto;
}
#topUserData{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.userBox{
    height: 140px;
    width: 320px;
    border: 2px solid rgba(145, 229, 216, 0.774);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profImg{
    height: 69.5%;
    width: 30%;
    border-radius: 25%;
    border: 2px solid rgb(177, 166, 144);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    cursor: pointer;
}
.cameraIcon {
    height: 100%;
    width: 100%;
    border-radius: 25%;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.589);
    bottom: 10px;
    right: 10px;
    font-size: 24px;
    color: wheat;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.profImg:hover .cameraIcon{
    opacity: 1;
}
#profileChange{
    height: 15rem;
    width: 15rem;
    background-color: rgb(43, 43, 43);
    position: absolute;
    left: 24%;
    top: 5.2rem;
    z-index: 5000;
    border-radius: 10px;
    border: 2px solid wheat;
    display: none;
}
.closeProfBtn:hover{
    color: red;
}
.topDp{
    height: 17%;
    width: 100%;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}
#bottomDp{
    height: 66%;
    width: 100%;
    display: flex;
    align-items: center;
}
.cornerDp{
    height: 100%;
    width: 20%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.middleDp{
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.dpCircle{
    height: 70%;
    width: 75%;
    border-radius: 20%;
    background-repeat: no-repeat;
    background-size: contain;
    border: 2px solid wheat;
}
.dp{
    height: 17%;
    width: 80%;
    border: 2px solid rgb(181, 191, 202);
    text-align: center;
    cursor: pointer;
}
#profileNo{
    display: none;
}
.changeProfNo{
    font-size: 1.2rem;
    width: 12rem;
    border: 2px solid wheat;
    background-color: lightskyblue;
    margin-bottom: 5px;
    border-radius: 5px;
}
.changeProfNo:hover{
    background-color: blueviolet;
    color: wheat;
}
.userName{
    height: 98%;
    width: 63%;
    padding-top: 17px;
    text-align: start;
}
.userName h6{
    width: 187px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.queSolBox{
    height: 140px;
    width: 450px;
    border: 2px solid rgba(145, 229, 216, 0.774);
    border-radius: 10px;
    padding-top: 5px;
}
.barWidth{
    width: 85%;
    margin-right: 5px;
    background-color: rgba(40, 39, 39, 0.646);
}
.medium{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 13px auto;
    padding-left: 5px;
}

#solvedQues{
    height: 7rem;
    width: 100%;
    margin: 1rem auto;
    border: 2px solid rgba(145, 229, 216, 0.774);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}
.solvedCircle{
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    border: 5px solid rgba(145, 229, 216, 0.219);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}

#easyHov:hover {
    border: none;
    background: conic-gradient(green 150deg, rgb(118, 249, 116) 220deg, green 350deg);
}
#medHov:hover {
    border: none;
    background: conic-gradient(rgb(2, 172, 152) 150deg, rgb(2, 57, 168) 200deg, rgb(5, 181, 175) 350deg);
}
#hardHov:hover {
    border: none;
    background: conic-gradient(red 130deg, rgb(203, 217, 3) 220deg, red 350deg);
}
.perData{
    height: 5.5rem;
    width: 5.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 550;
    justify-content: space-evenly;
    background-color: rgb(0, 0, 0);
}
#queTags{
    width: 100%;
    margin: 1rem auto;
    border: 2px solid rgba(145, 229, 216, 0.774);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}
.queStyle{
    color: wheat;
    padding: 8px;
    border-radius: 10px;
    text-decoration: none;
}
.queStyle:hover{
    background-color: rgb(40, 98, 137);
}
#randomQueBox{
    height: 5.4rem;
    width: 100%;
    border: 2px solid rgba(145, 229, 216, 0.774);
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}
#selectRandomForm{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.randomQue{
    background-color: rgba(32, 32, 32, 0.893);
    height: 2rem;
    border-radius: 5px;
    border: 2px solid rgb(141, 141, 141);
    color: rgb(215, 209, 209);
}
.searchRandomBtn{
    height: 2rem;
    width: 8.3rem;
    background-color: rgba(32, 32, 32, 0.893);
    border-radius: 5px;
    border: 2px solid rgb(141, 141, 141);
    color: rgb(215, 209, 209);
}
.searchRandomBtn:hover{
    background-color: rgb(94, 180, 188);
    color: black;
}
.generatedQue{
    margin-top: 10px;
    color: wheat;
}
.generatedQue:hover{
    color: rgb(34, 34, 239);
}
.randomIcon{
    height: 2.5rem;
    width: 2.5rem;
    background-color: rebeccapurple;
    border-radius: 50%;
}
