*{
    padding: 0;
    margin: 0;
    border: 0;
    font-family: "Roboto Condensed", sans-serif;
}
body{
    background-color: rgb(36, 36, 36);
    color: wheat;
}
#navbarDiv{
    height: 3.5rem;
    width: 100%;
    box-shadow: 0.5px 0.5px 5px gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#webName{
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#logo{
    height: 70%;
    width: 2.7rem;
    /* background-color: red; */
    background-image: url(logo2.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 1.5rem;
}
.navLink{
    font-size: 1.2rem;
    color: wheat;
    text-decoration: none;
    padding-right: 2rem;
}
#mode{
    height: 2.5rem;
    width: 2.5rem;
    /* background-color: rgb(151, 151, 151); */
    margin-right: 1.5rem;
    border-radius: 20px;
    color: wheat;
    border: 2px solid gray;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}
.modeIcon{
    font-size: 1.4rem;
}
#dataContainer{
    /* height: 700px; */
    width: 50rem;
    /* background-color: gray; */
    margin: 1.5rem auto;
}
#topUserData{
    width: 100%;
    /* background-color: beige; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.userBox{
    height: 140px;
    width: 320px;
    /* background-color: rgb(128, 79, 79); */
    border: 2px solid rgb(135, 133, 131);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profImg{
    height: 80%;
    width: 33%;
    border-radius: 47%;
    border: 2px solid wheat;
    background-color: rgb(177, 177, 107);
    margin-left: 5px;
}
.userName{
    height: 98%;
    width: 63%;
    /* background-color: rgb(121, 121, 63); */
    padding-top: 25px;
    text-align: start;
}
.queSolBox{
    height: 140px;
    width: 450px;
    /* background-color: rgb(128, 79, 79); */
    border: 2px solid rgb(135, 133, 131);
    border-radius: 10px;
    padding-top: 5px;
}
.barWidth{
    width: 85%;
    margin-right: 5px;
}
.medium{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 13px auto;
    padding-left: 5px;
}
#queTags{
    /* height: 5rem; */
    width: 100%;
    /* background-color: rgb(53, 69, 21); */
    margin: 1rem auto;
    border: 2px solid rgb(135, 133, 131);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}
.queStyle{
    color: wheat;
    /* border: 2px solid  blanchedalmond; */
    padding: 8px;
    border-radius: 10px;
    text-decoration: none;
}
.queStyle:hover{
    background-color: rgb(40, 98, 137);
}
#randomQueBox{
    height: 5.4rem;
    width: 100%;
    /* background-color: yellowgreen; */
    border: 2px solid rgb(135, 133, 131);
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}
#selectRandomForm{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.randomQue{
    background-color: rgb(69, 68, 68);
    height: 2rem;
    border-radius: 5px;
    border: 2px solid rgb(141, 141, 141);
    color: rgb(215, 209, 209);
    /* background-color: transparent; */
}
.searchRandomBtn{
    height: 2rem;
    width: 8.3rem;
    background-color: rgb(69, 68, 68);
    border-radius: 5px;
    border: 2px solid rgb(141, 141, 141);
    color: rgb(215, 209, 209);
}
.searchRandomBtn:hover{
    background-color: rgb(94, 180, 188);
    color: black;
}
.generatedQue{
    margin-top: 10px;
    color: wheat;
}
.generatedQue:hover{
    color: rgb(34, 34, 239);
}
.randomIcon{
    height: 2.5rem;
    width: 2.5rem;
    background-color: rebeccapurple;
    border-radius: 50%;
}
/* footer */
#footer{
    /* height: 5.5rem; */
    width: 100%;
    /* background-color: gray; */
    margin: 2rem auto;
    /* box-shadow: 0.5px 0.5px 5px gray; */
}
.footBox{
    height: 2.3rem;
    /* background-color: red; */
    margin:0.3rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circleBox{
    height: 30px;
    width: 30px;
    border: 2px solid wheat;
    border-radius: 50%;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circleBox:hover{
    border: 2px solid brown;
    color: brown;
}
.iconSize{
    font-size: 1.1rem;
}
.socialLink{
    text-decoration: none;
    color: wheat;
}
.designedTag{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}