*{
    padding: 0;
    margin: 0;
    border: 0;
    font-family: "Roboto Condensed", sans-serif;
}
body{
    background-color: rgb(36, 36, 36);
    color: wheat;
}
#overlay{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(121, 121, 115, 0.521);
    z-index: 500;
    display: none;
}
#navbarDiv{
    height: 3.5rem;
    width: 100%;
    box-shadow: 0.5px 0.5px 5px gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#webName{
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#logo{
    height: 70%;
    width: 2.7rem;
    /* background-color: red; */
    background-image: url(logo2.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 1.5rem;
}
.navLink{
    font-size: 1.2rem;
    color: wheat;
    text-decoration: none;
    padding-right: 2rem;
}
#mode{
    height: 2.5rem;
    width: 2.5rem;
    /* background-color: rgb(151, 151, 151); */
    margin-right: 1.5rem;
    border-radius: 20px;
    color: wheat;
    border: 2px solid gray;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}
.modeIcon{
    font-size: 1.4rem;
}
#dataContainer{
    /* height: 700px; */
    width: 50rem;
    /* background-color: gray; */
    margin: 1.4rem auto;
}
#topUserData{
    width: 100%;
    /* background-color: beige; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.userBox{
    height: 140px;
    width: 320px;
    /* background-color: rgb(128, 79, 79); */
    border: 2px solid rgb(135, 133, 131);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profImg{
    height: 69.5%;
    width: 30%;
    border-radius: 25%;
    border: 2px solid rgb(177, 166, 144);
    /* border-top: 2px solid wheat; */
    /* background-color: rgb(201, 201, 25); */
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    cursor: pointer;
}
.cameraIcon {
    height: 100%;
    width: 100%;
    border-radius: 25%;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.589);
    /* position: absolute; */
    bottom: 10px;  /* Adjust positioning as needed */
    right: 10px;
    font-size: 24px;
    color: wheat;
    opacity: 0;  /* Initially hidden */
    transition: opacity 0.3s ease-in-out;
}
.profImg:hover .cameraIcon{
    opacity: 1;
}
#profileChange{
    height: 15rem;
    width: 15rem;
    background-color: rgb(99, 77, 77);
    position: absolute;
    left: 24%;
    top: 5rem;
    /* margin: auto; */
    z-index: 5000;
    border-radius: 10px;
    border: 2px solid rgb(114, 139, 144);
    display: none;
}
.closeProfBtn:hover{
    color: red;
}
.topDp{
    height: 17%;
    width: 100%;
    /* background-color: rebeccapurple; */
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}
#bottomDp{
    height: 66%;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
}
.cornerDp{
    height: 100%;
    width: 20%;
    /* background-color: green; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.middleDp{
    height: 100%;
    width: 60%;
    /* background-color: orangered; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.dpCircle{
    height: 70%;
    width: 75%;
    border-radius: 20%;
    /* background-color: rgb(72, 157, 218); */
    background-repeat: no-repeat;
    background-size: contain;
    border: 2px solid wheat;
}
.dp{
    height: 17%;
    width: 80%;
    /* background-color: yellowgreen; */
    border: 2px solid rgb(181, 191, 202);
    text-align: center;
    cursor: pointer;
}
#profileNo{
    display: none;
}
.changeProfNo{
    font-size: 1.2rem;
    width: 12rem;
    border: 2px solid wheat;
    margin-bottom: 5px;
    border-radius: 5px;
}




.userName{
    height: 98%;
    width: 63%;
    /* background-color: rgb(121, 121, 63); */
    padding-top: 25px;
    text-align: start;
}
.queSolBox{
    height: 140px;
    width: 450px;
    /* background-color: rgba(87, 87, 87, 0.338); */
    border: 2px solid rgb(135, 133, 131);
    border-radius: 10px;
    padding-top: 5px;
}
.barWidth{
    width: 85%;
    margin-right: 5px;
    background-color: rgba(128, 128, 128, 0.299);
}
.medium{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 13px auto;
    padding-left: 5px;
}

#solvedQues{
    height: 7rem;
    width: 100%;
    /* background-color: rgb(53, 69, 21); */
    margin: 1rem auto;
    border: 2px solid rgb(135, 133, 131);
    border-radius: 10px;
    /* padding: 10px; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}
.solvedCircle{
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    /* background: conic-gradient(rgb(135, 133, 131) 0deg, rgb(135, 133, 131) 180deg, transparent 180deg); */
    border: 5px solid rgba(135, 133, 131, 0.413);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    /* background-color: rgb(135, 133, 131); */
}

#easyHov:hover {
    border: none;
    background: conic-gradient(green 150deg, rgb(118, 249, 116) 220deg, green 350deg);
}
#medHov:hover {
    border: none;
    background: conic-gradient(rgb(2, 172, 152) 150deg, rgb(2, 57, 168) 200deg, rgb(5, 181, 175) 350deg);
}
#hardHov:hover {
    border: none;
    background: conic-gradient(red 130deg, rgb(203, 217, 3) 220deg, red 350deg);
}
.perData{
    height: 5.5rem;
    width: 5.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 550;
    /* border: 2px solid rgba(113, 106, 106, 0.436); */
    justify-content: space-evenly;
    background-color: rgb(36, 36, 36);
}
/* 
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} */

#queTags{
    /* height: 5rem; */
    width: 100%;
    /* background-color: rgb(53, 69, 21); */
    margin: 1rem auto;
    border: 2px solid rgb(135, 133, 131);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}
.queStyle{
    color: wheat;
    /* border: 2px solid  blanchedalmond; */
    padding: 8px;
    border-radius: 10px;
    text-decoration: none;
}
.queStyle:hover{
    background-color: rgb(40, 98, 137);
}
#randomQueBox{
    height: 5.4rem;
    width: 100%;
    /* background-color: yellowgreen; */
    border: 2px solid rgb(135, 133, 131);
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}
#selectRandomForm{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.randomQue{
    background-color: rgb(69, 68, 68);
    height: 2rem;
    border-radius: 5px;
    border: 2px solid rgb(141, 141, 141);
    color: rgb(215, 209, 209);
    /* background-color: transparent; */
}
.searchRandomBtn{
    height: 2rem;
    width: 8.3rem;
    background-color: rgb(69, 68, 68);
    border-radius: 5px;
    border: 2px solid rgb(141, 141, 141);
    color: rgb(215, 209, 209);
}
.searchRandomBtn:hover{
    background-color: rgb(94, 180, 188);
    color: black;
}
.generatedQue{
    margin-top: 10px;
    color: wheat;
}
.generatedQue:hover{
    color: rgb(34, 34, 239);
}
.randomIcon{
    height: 2.5rem;
    width: 2.5rem;
    background-color: rebeccapurple;
    border-radius: 50%;
}
/* footer */
#footer{
    /* height: 5.5rem; */
    width: 100%;
    background-color: gray;
    margin: 1rem auto;
    /* box-shadow: 0.5px 0.5px 5px gray; */
}
.footBox{
    height: 2.3rem;
    /* background-color: red; */
    margin:0.1rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circleBox{
    height: 30px;
    width: 30px;
    border: 2px solid wheat;
    border-radius: 50%;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circleBox:hover{
    border: 2px solid brown;
    color: brown;
}
.iconSize{
    font-size: 1.1rem;
}
.socialLink{
    text-decoration: none;
    color: wheat;
}
.designedTag{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}